<!---added HTML doctype in a testing attempt, site still works fine and gives more structure to help test.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"   href="/stylesheets/style.css">
    <title>FABA The Game</title>
</head>
    <body style="background-color: lightblue;">
        <script>var title = require("game")
                </script>
        
            <h1>FABA The Game</h1>
                <h2>Welcome to FABA, <%= user %> </h2>
                    <h3 id="sceneText">Prompt: <%= title %></h3>
            <button id="prompt1" type="prompt1" name="prompt1" style="background-color: blanchedalmond;"><%= prompt1 %></button>
            <button id="prompt2" type="prompt2" name="prompt2" style="background-color: blanchedalmond;"><%= prompt2 %></button>
            <% if (typeof window !== 'undefined')  { %>
<!--- testing different functions and stuff to make the buttons function for the users choice --->
<!---at one point had the button working, by placing the onclick param in the button html to run a function on click, but it just was crashing the site.-->
<!---example: <button id="prompt2" type="prompt2" name="prompt2" style="background-color: blanchedalmond;" onclick="runFunction()"><%= prompt2 %></button> -->
<!---for the above to work you need to put a function in the html between two script tags.-->
            <% if(document.getElementById("prompt1").onclick) { %>
                <h3><%= title2 %></h3>

                <% } %>
            <% } %>     
        </div>
    </body>
</html>