<!--This page is where the game will be played.-->
<script>var title = require("game")
</script>
<link href = "styles.css" rel="stylesheet">
<h1>FABA The Game</h1>

<!--Grabs the username and scenario from mongo-->
<h2>Welcome to FABA, <%= user %> </h2>
<h3>Prompt: <%= title %></h3>
<button onclick="window.location.href='/game';"><%= prompt1 %></button>
<button onclick="window.location.href='/game';"><%= prompt2 %></button>
<h4>Would you like to save your game progress?</h4>
<button onclick="window.location.href='/game';"><%= save %>Save</button>







